---
import Layout from '../layouts/Layout.astro';
import Card from './Card.astro';

import { Image } from 'astro:assets';
import image1 from '../assets/1.svg';
import image2 from '../assets/2.svg';
import image3 from '../assets/3.svg';
import image4 from '../assets/4.svg';
import image5 from '../assets/5.svg';
import image6 from '../assets/6.svg';
import image7 from '../assets/7.svg';
import image8 from '../assets/8.svg';
import image9 from '../assets/9.svg';
import image10 from '../assets/10.svg';
import image11 from '../assets/11.svg';
import image12 from '../assets/12.svg';
import image13 from '../assets/13.svg';

const images = [
    image1,
    image2,
    image3,
    image4,
    image5,
    image6,
    image7,
    image8,
    image9,
    image10,
    image11,
    image12,
    image13,
];

function getRandomImage() {
    return images[Math.floor(Math.random() * images.length)];
}

function generateRandomNumber()
{
    return Math.random() * (1.4 - 2.2) + 1.2;
}
---

<div class="relative min-h-screen overflow-hidden z-0">
    <div class="falling-images">
    {Array.from({ length: 15 }).map((_, index) => (
        <Image 
        class="falling-image" 
        src={getRandomImage()}
        alt="Falling image"
        style={{
            left: `${generateRandomNumber() * 100}%`,
            animationDuration: `${generateRandomNumber() * 10}s`,
            animationTimingFunction: `cubic-bezier(${generateRandomNumber()}, ${generateRandomNumber()}, ${generateRandomNumber()}, ${generateRandomNumber()})`,
        }}
    /><Image 
        class="falling-image" 
        src={getRandomImage()}
        alt="Falling image"
        style={{
            left: `${generateRandomNumber() * 100}%`,
            animationDuration: `${generateRandomNumber() * 10}s`,
            animationTimingFunction: `cubic-bezier(${generateRandomNumber()}, ${generateRandomNumber()}, ${generateRandomNumber()}, ${generateRandomNumber()})`,
        }}
    />
    ))}
    </div>

    <div class="flex justify-center flex-col">
        <div class="hero min-h-screen hero-land">
            <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-7xl font-bold">OLIWER </h1>
                <span class="text-7xl font-bold title-blur">SKWERES</span>
                <p class="py-6">Développeur Web Full Stack & Dev Ops</p>
                <div class="flex justify-center">
                    <a href="/about" class="btn btn-primary btn-wide">En savoir plus</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>  
<style>
    @keyframes fall {
        0% {
            transform: translateY(-200%) rotate(0deg);
            filter: blur(0px);
        }
        70% {
            filter: blur(0px);
        }
        90% {
            opacity: 1;
        }
        100% {
            transform: translateY(1500%) rotate(960deg);
            filter: blur(10px);
            opacity: 0;
        }
    }

    .falling-images {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    
    }

    .falling-image {
    width: 45px;
    margin: 0 10px;  
    filter: blur(0px);
    animation: fall linear infinite;
    }

    .title {
        font-size: 80px;
    }

    @keyframes gradientAnimation {
    0% { background-position: 0% 50% }
    100% { background-position: 150% 50% }

}

.title-blur {
    position: relative;
    background: linear-gradient(90deg, #7dd3fc, #bef264, #7dd3fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 5s infinite; /* Adjust the duration and other properties as needed */
    background-size: 100vw auto;
}

.title-blur::before {
    content: 'SKWERES';
    position: absolute;
    filter: blur(30px);
    background: linear-gradient(90deg, #7dd4fc5a, #bef26452, #7dd4fc7b);
    background-size: 100vw auto;
    animation: gradientAnimation 5s infinite;
}


    
    
</style>